.container h1{
  color: #252839;
  font-size: 4rem;
  position: absolute;
}

.container h1:before{
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #17FEFF;
  overflow: hidden;
  color: #17FEFF;
  animation: load 4s linear infinite;
}
@keyframes load{
  0%, 10%, 100%{
    width:0;
  }
  60%, 80%{
    width: 100%;
  }
}
